header {
      height: auto;
      padding-bottom: 50px;
}
.textheader {
  color: white;
  width: 100%;
  margin-top: 200px;
  padding-bottom: 100px;
  text-align: center;
}
.textheader h1 {
  font-size: 80px;
  margin-bottom: 20px;
}
.textheader p {
  margin-left: 200px;
  margin-right: 200px;
}
.judul {
  color: black;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 50px;
  border-bottom: 3px solid black;
}
.pembuat {
  border: 3px solid black;
  border-radius: 20px;
  width: 50%;
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
  padding: 7px;
}
.semuapembuat {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pembuatkanan {
  width: 60%;
  float: right;
}
.pembuatkanan p {
  font-size: 20px;
}
.pembuatkiri {
  width: 40%;
  float:left;
}
.pembuatkiri img{
  border: 3px solid black;
  border-radius: 100%;
  width: 150px;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.gamerating {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 300px;
}
.gamekiri {
  width: 40%;
  float:left;
}
.gamekiri img{
  width: 90px;
  padding-top: 120px;
  float: left;
}
.gamekiri p {
  font-size: 100px;
  float: left;
  padding-top: 100px;
  margin-left: 30px;
}
.gamekanan {
  margin-top: 30px; 
  width: 40%;
  float: right;
  margin-left: 30px;
}
.gamekanan h1 {
  text-align: center;
}
.gamekanan p {
  font-size: 20px;
  text-align: justify;
}
.comment {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.isicomment {
  border: 3px solid black;
  border-radius: 20px;
  width: 25%;
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
  padding: 7px;
}
.bagiancomment {
  width: 100%;
}
.isicomment img{
  width: 100px;
  border-radius: 100px;
  border: 2px solid;
}
.rating img{
  width: 25px;
  border:0px;
}
.bagiancomment h2{
  text-align:center;
}
.bagiancomment p{
  text-align:center;
}
.rating {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.user {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
@media only screen and (max-width: 1085px){
    .gamekiri img{
      display: none;
    }
    .textheader {
      margin-top: 100px;
      padding-bottom: 100px;
    }
    .textheader p {
      margin-left: 20px;
      margin-right: 20px;
    }
    .judul {
      margin-left: 10px;
    }
    .pembuatkiri img {
      margin-top: 75px;
    }
    .pembuatkiri {
      width: 50%;
    }
    .pembuatkanan {
      width: 50%;
    }
}
@media only screen and (max-width: 860px){
  .gamerating {
    display: unset;
  }
  .gamekiri img {
    display: block;
  }
  .textheader {
  margin-top: 100px;
  }
  .textheader p {
  margin-left: 20px;
  margin-right: 20px;
  }
  .judul {
    margin-left: 10px;
    padding: 0;
  }
  .gamerating {
    width: 100%;
    height: 300px;
    margin-top: 0;
   }
  .gamekiri {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .gamekiri img{
    width: 90px;
  }
  .gamekiri p {
    font-size: 100px;
    padding-top: 100px;
    margin-left: 30px;
  }
  .gamekanan {
    margin-top: 30px; 
    width: 100%;
    padding-bottom: 50px;
  }
  .gamekanan h1 {
    text-align: center;
  }
  .gamekanan p {
    font-size: 20px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
  }
  .isicomment {
    width: 90%;
    padding: 0;
    margin-left: 5%;
    margin-top: 20px;
  }
  .juduls {
    margin: 0;
    padding-top: 50px;
  }
  .comment {
    display: unset;
  }
  .semuapembuat {
    display: unset;
  }
  .pembuat {
    width: 90%;
    padding: 0;
    margin-left: 5%;
    margin-top: 20px;
    border: 5px solid black;
  }
  .pembuatkiri {
    float: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .pembuatkiri img{
    border: 3px solid black;
    border-radius: 100%;
    width: 150px;
    padding:0;
    margin:0;
  }
  .pembuatkanan {
    float: none;
    width: 100%;
    text-align: center;
  }
}