*{
  margin: 0;
  padding: 0;
}
nav {
  height: 70px;
  background: black;
  width: 100%;
  position:absolute;
  font-size: 15px;
  opacity: 999;
}
.cektombol{
  font-size: 20px;
  float: right;
  line-height: 70px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
#cek {
  display: none;
}
nav ul{
  margin-top: 15px;
  margin-left: 20px;
}
nav ul li {
  display: inline-flex;
  line-height: 25px;
  margin: 0 5px;
  text-align: center;
}
nav ul li.kanan {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}
nav ul li.kanan a{
  padding: 5px 15px;
}
nav ul li a {
  position:relative;
  text-decoration: none;
  color: white;
  border: 1px solid orange;
  padding: 5px 10px;
  transition: 0.5s;
}
nav ul li a:hover{
  background-color: orange;
  color: black
}
nav ul li ul{
    display: none;
}
nav ul li:hover ul{
    display: block;
}

@media screen and (max-width: 760px){
  nav ul li a {
    border: none;
  }
  nav {
    position:fixed;
  }
  .cektombol{
    display: block;
    font-size: 20px;
  }
  nav ul{
    margin: 0px;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: 0.5s;
  }
  nav ul li.kanan {
   margin: 0px;
  }
  nav ul li{
    display: flex;
    margin: 20px 0;
    line-height: 30px;
    text-align: left;
    border-bottom: 2px solid orange;
    border-top: 2px solid orange;
  }
  nav ul li a {
    font-size: 25px;
  }
  nav ul li a:hover{
    background: none;
    color: orange;
  }
  #cek:checked ~ ul{
    left: 0;
  }
}
