*{
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Acme';
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../gambar/dragonest.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  cover;
  padding-top: 15px;
  width: 100%;
  position: flex;
}
footer {
  border-top: 5px solid orange;
  background: black;
  width: 100%;
  display: block;
}
.logo img{
  width: 50px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
}
.dalem {
    width: 95%;
    margin:auto;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.isi {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.isi h1 {
  padding: 10px 0;
  font-size: 25px;
  color: white;
}
.isi p{
  color: white;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}
.isi h2 {
  margin: 10px 0px ;
  font-size: 16px;
  color: white;
  font-weight: lighter;
  border-bottom: 3px solid orange;
}
.isi ul{
  list-style-type: none;
  color: white;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.isi ul li {
  margin: 5px 0;
  height: 25px;
}
.isi ul a {
  text-decoration: none;
  outline: none;
  color: white;
  transition: 0.3s;
}
.isi ul a:hover {
  color: orange;
}
.sosmed {
  width: 100%;
  text-align: center;
}
footer .isi img{
  border: 1px solid;
  background: white;
  width: 15px;
  margin: 3px 3px;
}
footer .sosmed a {
  text-decoration: none;
}
footer .sosmed img{
  width: 30px;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid white;
  transition: 0.5s;
  background: white;
}
.sosmed img:hover {
  background:orange;
}
.kopibenar {
  color: orange;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  border-top: 3px solid orange;
}
.kopibenar p {
  margin-top: 20px;
}
@media only screen and (max-width: 1090px){
  .isi {
    width: 50%;
  }
}
@media only screen and (max-width: 1000px){
  .isi {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .isi {
    width: 100%;
  }
}
