*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Acme';
  background: #001100;
}
/* Header */
header {
  background-image: linear-gradient(rgba(0, 25, 0, 0.5),rgba(0, 50, 0, 0.5),rgba(0, 100, 0, 0.5)), url(../gambar/dragonnestidn.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  cover;
  padding-top: 15px;
  width: 100%;
  position: flex;
}
nav {
  height: 70px;
  background: #002200;
  width: 100%;
  position:absolute;
  font-size: 15px;
  opacity: 1;
}
.logo img{
  width: 50px;
  float: left;
  margin-right: 20px;
}
.cektombol{
  font-size: 20px;
  float: right;
  line-height: 70px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
#cek {
  display: none;
}
nav ul{
  margin-top: 15px;
  margin-left: 20px;
}
nav ul li {
  display: inline-flex;
  line-height: 25px;
  margin: 0 10px;
  text-align: center;
}
nav ul li a {
  position:relative;
  text-decoration: none;
  color: white;
  border: 3px solid #3EFF00;
  padding: 5px 10px;
  transition: 0.5s;
}
nav ul li a:hover{
  background-color: white;
  color: black
}
nav ul li ul{
    display: none;
}
nav ul li:hover ul{
    display: block;
}
.headers{
  margin-top: 70px;
}
.gambarnya {
  width: 50%;
  float: left;
}
.gambarnya img {
  width: 100%;
}
.txt {
  width: 50%;
  float: right;
}
.banner {
  display: flex;
  width: 50%;
  color: #fff;
  margin-top: 10%;
}
.text{
  width: 100%;
  float: left;
}
.text h1{
  font-size: 45px;
  margin-left: 10%;
  text-decoration: underline;
}
.text h3 {
  margin-left: 10%;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 10%;
  text-align: justify; 
}
.text a {
  margin-left: 30%;
  text-decoration: none;
  font-size: 30px;
  color: white;
  border: 5px solid;
  padding: 5px 10px;
  transition: 0.5s;
}
.text a:hover {
  background: #3EFF00;
}
.gambars {
  display: flex;
  width: 50%;
  float: right;
}
.gambars img {
  width: 75%;
}
/* Header */

/* Features */
.juduls {
  font-size: 50px;
  padding-top: 30px;
  padding-left: 65px;
  padding-bottom: 30px;
  color: white;
}
.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  padding-bottom: 20px;
}
.isinya img{
  width: 100%;
  height: 300px;
  border: 4px solid white;
  border-radius: 10%;
  filter: grayscale(100%);
  transition: 0.5s;
}
.isinya img:hover {
  filter: grayscale(20%);
}
.isinya {
  margin-left: 15px;
  margin-right: 15px;
  width: 30%;
  display: flex;
  justify-content: center;
}
.isinya .textisi a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition:0.5s;
}
.isinya .textisi a:hover {
  color: #3EFF00;
}
/* Features */

/* Galery */
.galerys {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  padding-bottom: 20px;
}
.galerys .gambarkiri {
  width: 70%;
}
.galerys .gambarkanan {
  width: 30%;
}
.galerys img {
  filter: grayscale(100%);
  transition: 0.5s;
  border: 3px solid #3EFF00;
}
.galerys img:hover{
  filter: grayscale(0%);
}
.galerys .gambarkiri img {
  height: 300px;
  margin: 15px 10px 10px 10px;
  width: 46%;
}
.galerys .gambarkanan img {
  width: 99%;
  height: 465px;
  margin: 15px 0;
}
/* Galery */

/* Community */
.grup {
  margin-left: 100px;
  margin-right: 100px;
}
.grup img {
  width: 100%;
  height: 500px;
}
.gruptext {
  margin-left: 50px;
  margin-right: 50px;
}
.gruptext p {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.linkfanpage {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.linkfanpage a img {
  width: 175px;
  margin-right: 30px;
  padding: 10px;
  border: 3px solid #3EFF00;
  background: green;
  transition: 0.5s;
}
.linkfanpage a img:hover {
  background:#3EFF00;
}
/* Community */

/* Comment */
.comment {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.isicomment {
  background: #005500;
  border: 3px solid #3EFF00;
  border-radius: 20px;
  width: 25%;
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
  padding: 7px;
}
.bagiancomment {
  width: 100%;
}
.isicomment .uwu{
  background:#3EFF00; 
}
.isicomment img{
  width: 100px;
  border-radius: 100px;
  border: 2px solid #3EFF00;
}
.rating img{
  width: 25px;
  border:0px;
}
.bagiancomment h2{
  text-align:center;
  color: #3EFF00;
}
.bagiancomment p{
  color: #3EFF00;
  text-align:center;
}
.rating {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.user {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
/* Comment */

/* Reward */
.hadiah {
  background: #004400;
  height: auto;
}
.texthadiah {
  text-align: center;
  color: white;
  padding-top: 20px;
}
.masukkanemail {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.ukuran {
  margin-left: 100px;
  margin-right: 100px;
}
.masukkanemail .emails {
  border: 3px solid #3EFF00;
  border-radius: 20px;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  font-size: 20px;
  color: #3EFF00;
  background: #001100;
  text-align: center;
}
.masukkanemail p {
  color: white;
  padding-top: 10px;
  padding-bottom: 25px;
}
.masukkanemail .submit {
  border: 3px solid #3EFF00;
  border-radius: 20px;
  height: 50px;
  font-size: 20px;
  color: #3EFF00;
  background: #001100;
  text-align: center;
  padding: 0 20px;
  transition: 0.5s;
}
.masukkanemail .submit:hover {
  background: #003300;
  color: white;
}
/* Reward */

/* Footer */
footer {
  border-top: 5px solid #3EFF00;
  background: #002200;
  width: 100%;
  display: block;
}
.logo img{
  width: 50px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
}
.dalem {
    width: 95%;
    margin:auto;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.isi {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.isi h1 {
  padding: 10px 0;
  font-size: 25px;
  color: white;
}
.isi p{
  color: white;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}
.isi h2 {
  margin: 10px 0px ;
  font-size: 16px;
  color: white;
  font-weight: lighter;
  border-bottom: 3px solid #3EFF00;
}
.isi ul{
  list-style-type: none;
  color: white;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.isi ul li {
  margin: 5px 0;
  height: 25px;
}
.isi ul a {
  text-decoration: none;
  outline: none;
  color: white;
  transition: 0.3s;
}
.isi ul a:hover {
  color:#3EFF00;
}
.sosmed {
  width: 100%;
  text-align: center;
}
footer .isi img{
  border: 1px solid;
  background: white;
  width: 15px;
  margin: 3px 3px;
}
footer .sosmed a {
  text-decoration: none;
}
footer .sosmed img{
  width: 30px;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #3EFF00;
  transition: 0.5s;
  background: white;
}
.sosmed img:hover {
  background: #3EFF00;
}
.kopibenar {
  color:#3EFF00;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  border-top: 3px solid #3EFF00;
}
.kopibenar p {
  margin-top: 20px;
}
/* Footer */

@media only screen and (max-width: 1090px){
header {
  height: auto;
  padding-bottom: 50px;
}
.gamekiri img{
  display: none;
}
.banner {
  display: flex;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.text {
  width: 100%;
  margin-top: 20px;
}
.text h1{
  font-size: 35px;
  margin-left: 20px;
  text-decoration: underline;
  text-align: center;
}
.text h3 {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
}
.text a {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
  font-size: 30px;
  color: white;
  border: 5px solid;
  padding: 5px 10px;
  justify-content: center;
}
.gambars{
  display: flex;
  width: 100%;
  float: left;
  margin-top: 30px;
  justify-content: center;
}
.gambars img {
  width: 70%;
  padding-top: 60px;
}
.isinya{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.isinya .gambar {
  width: 75%;
  float: left;
}
footer .isi {
  width: 50%;
}
}
@media only screen and (max-width: 1000px){
  footer .isi {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px){
  .hilang {
    display: none;
  }
  .galerys .gambarkanan {
    display: none;
  }
  .galerys .gambarkiri {
    width: 100%;
  }
  .linkfanpage a img {
    width: 150px;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 1010px){
  .linkfanpage a img {
    width: 100px;
  }
}
@media only screen and (max-width: 860px){
  .isicomment {
    width: 90%;
    padding: 0;
    margin-left: 5%;
    margin-top: 20px;
  }
  .comment {
    display: unset;
  }
}
@media only screen and (max-width: 825px){
  .galerys .gambarkiri img {
    width: 100%;
    margin:0;
    margin-top: 20px;
    filter: unset;
  }
  .content img{
    filter: unset;
  }
  .grup img {
    height: 400px;
  }
}
@media screen and (max-width: 760px){
  .grup img {
    height: 250px;
  }
  .juduls {
    padding-left:20px;

  }
  .gambars {
    margin: 0;
    padding:0;
  }
  nav ul li a {
    border: none;
  }
  nav {
    position:fixed;
  }
  .cektombol{
    display: block;
    font-size: 20px;
  }
  nav ul{
    margin: 0px;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #002200;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: 0.5s;
  }
  nav ul li.kanan {
   margin: 0px;
  }
  nav ul li{
    display: flex;
    margin: 20px 0;
    line-height: 30px;
    text-align: left;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }
  nav ul li a {
    font-size: 25px;
  }
  nav ul li a:hover{
    background: none;
    color: #3EFF00;
  }
  #cek:checked ~ ul{
    left: 0;
  }
}
@media only screen and (max-width: 600px) {
  footer .isi {
    width: 100%;
  }
  .linkfanpage{
    display: unset;
  }
  .grup img {
    height: 150px;
  }
}